<header>
  <h2>
    User name: <%= @user.name %>
  </h2>
</header>

<p class="profile_image">
  <%= image_tag profile_image_for(@user), alt: "profile image" %>
</p>

<article>
  <table>
    <tr>
      <th>
        User Name:
      </th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>
        Username:
      </th>
      <td>
        <%= @user.username %>
      </td>
    </tr>
    <tr>
      <th>
        User Email:
      </th>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <th>
        User Since:
      </th>
      <td>
        <%= created_at_present @user %>
      </td>
    </tr>
  </table>
</article>

<p>
  <%= link_to "Delete User", user_path(@user), data: {:confirm => "Are you sure?"}, :method => :delete %>
</p>

<p>
  <%= link_to "Edit User", edit_user_path(@user) %>
</p>
