<article class="event">
  <header>
    <h1>
      <h2><%= @event.name %></h2>
      <h3><%= pluralize (@event.spots_left + 1), "spot" %> remaining</h3>
      <%= image_for(@event) %>
    </h1>
  </header>

  <table class="event-info">
    <tr>
      <th>
        Description
      </th>
      <td>
        <%= @event.description %>
      </td>
    </tr>
    <tr>
      <th>
        Likes
      </th>
      <td>
        <%= pluralize @likers.size, "like" %>
      </td>
    </tr>
    <% if @likers.any? %>
      <% @likers.each do |liker| %>
    <tr>
      <th>
        Likers
      </th>
      <td>
        <%= profile_image_for liker, size: 30 %>
        <%= liker.name %>
      </td>
    </tr>
      <% end %>
    <% end %>
    <tr>
      <th>
        Location
      </th>
      <td>
        <%= @event.location %>
      </td>
    </tr>
    <tr>
      <th>
        Price
      </th>
      <td>
        <%= format_price @event %>
      </td>
    </tr>
    <tr>
      <th>
        Start time
      </th>
      <td>
        <%= @event.starts_at %>
      </td>
    </tr>
    <tr>
      <th>
        Total Capacity
      </th>
      <td>
        <%= @event.capacity %>
      </td>
    </tr>
  </table>
  <p>
    <%= link_to "Who's registered", event_registrations_path(@event) %>
  </p>
</article>

<% if current_user %>
<% if @current_like %>
<%= button_to "Unlike", event_like_path(@event, @current_like), method: :delete, class: "button unlike"  %>
<% else %>
  <%= button_to "Like", event_likes_path(@event), class: "button like" %>

<% end %>
<% end %>

<%= register_link(@event) %>
<% if current_user_admin? %>
  <p>
    <%= link_to "Edit", edit_event_path(@event) %>
    <%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
<% end %>


<p>
  <%= link_to "Register for event", new_event_registration_path(@event) %>
</p>

<h3>Categories</h3>
<ul>
  <% @categories.each do |c| %>
    <li>
      <%= c.name %>
    </li>
    <% end %>
  </td>
</ul>
