<article>
  <header>
    <h2>
      <%= pluralize @registrations.count, "registration" %> for event: <%= link_to @event.name, @event %>
    </h2>
  </header>
  <p>
    <% @registrations.each do |r| %>
    <p class="profile_image">
      <%= profile_image_for(r.user) %>
    </p>
      <p>
        <table>
          <tr>
            <th>
              Name
            </th>
            <td>
              <%= link_to r.user.email, r.user %>
            </td>
          </tr>
          <tr>
            <th>
              Username
            </th>
            <td>
              <%= r.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              Location
            </th>
            <td>
              <%= r.location %>
            </td>
          </tr>
          <tr>
            <th>
              How heard
            </th>
            <td>
              <%= r.how_heard %>
            </td>
          </tr>
        </table>
      </p>
      <br />
    <% end %>
  </p>
</article>
